.card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
    border: 0.5px solid rgb(206, 217, 142);
}

.card figure{
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
}

.card img{
    width: 100%;
    height: 100%;
}

.card h3{
    text-align: center;
    font-size: 16px;
}

.card h4{
    text-align: center;
    font-size: 14px;
}

.favButton{
    background-color: rgba(136, 136, 136, 0.116);
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.favButton:hover{
    background-color: rgba(206, 217, 142, 0.116);
}